
.logo-container {
flexDirection: "row";
justifyContent: "flex-start";
borderBottomColor: "#DDD";
borderBottomWidth: 2;
alignItems: "center";
paddingTop: 5;
margin: 15;

}

.logo-img{
    width: 110;
    height: 110;
    paddingRight: 10,;
}

